.bg_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    display: flex;
    padding: 10px;
}

.user_img {
    width: 180px;
    height: 180px;
}

.user {
    margin-left: 40px;
}

.user_name {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
}

.user_info div {
    line-height: 140%;
}

.contactLink {
    text-decoration: underline;
}