.formControl.error {
    margin: 10px 0;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    color: red;
    margin: 10px 0;
    padding: 10px 5px;

}