* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

body {
  font-family: "Helvetica";
  /* color: cornflowerblue; */
}

.wrapper {
  max-width: 1200px;
  margin: 90px auto 0;
  display: grid;
  grid-template-areas: "side content";
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}